.itemFilters-wrapper{
  display:flex;
  margin: 0 auto;
  padding: 25px;
  padding-bottom: 50px;
}
.itemFilters-wrapper > div{
  margin-right: 50px;
}
.items-found{
  text-align: right;
  font-size: 17px;
}
body {
  background-color: white;
}
.hero-header img{
  width:100%;
  height:330px;
}

@media only screen and (max-width: 950px) {
   .cf7_custom_style_1 {
      padding-left: 10%;
      padding-right: 10%;
   }
}

@media only screen and (max-width: 600px) {
   .cf7_custom_style_1 {
      padding-left: 0;
      padding-right: 0;
   }
}
.centered {
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-0%, -50%);
  color: white;
  font-size: 80px;
}
