.item-name {
  padding-left: 10px;
  color: #d41d46;
}

.item-price{
}

.itemPage {
    display: flex;
    flex-wrap: wrap;
}

.itemPage-footer{
    display: flex;
    justify-content: flex-end;
    flex-basis: 100%;
}
