.my-header {
  z-index: 100;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  background: white;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  position: sticky;
  top: 0;
  font-family: sans-serif;
}
.header-logo{
  width: 60px;
}
.header-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hader-buttons img{
  height:25px;
}
.header-button {
  display: flex;
  align-items: center;
  height: 100%;
  color: #333;
  transition: all .3s;
  cursor: pointer;
}

.header-button:first-of-type{
  margin-right: 25px;
}
.header-button:hover{
  color: #d41d46;
}
.header-button-text{
  padding-left: 5px;
  font-size: 14px;
  font-family: sans-serif;
}

.badge {
    position: absolute;
    padding: 2px 6px;
    background: #d41d46;
    bottom: 20px;
    color: white;
    border-radius: 100%;
}
